.archive_container{
    .title_chapter{
        color: #6b001c;
        font-size: 40px;
        font-weight: 900;
        padding: 20px 15px;
        letter-spacing: 0.9rem ;
        width: 100%;
        // border: solid 5px #e0dcd0;
        box-shadow: 0 2px 0 #6b001c;
        margin: 0;
    }
}