
.box_num{
    width: 40px;
    height: 25px;
    background: rgb(107, 0, 28);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 6px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #aaa;
}

.change{
    width: 45px;
    height: 30px;
    background: #6b001c;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 6px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #aaa;
}
